@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(82, 197, 82, 0.514),
      rgba(172, 255, 47, 0.637)
    ),
    url("./image/y.jpg");
  background-size: contain;
}
.signup {
  box-shadow: 5px 5px 5px 6px rgba(255, 255, 255, 0.233);
  color: black;
  max-width: 350px;
  width: 100%;
  min-height: 350px;
}
.header {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
}
form {
 
  padding-left: 0.5rem;
}
.label {
  display: block;
  font-size: 1rem;
  position: relative;
}
.label + .label {
  margin-top: 1.25rem;
}
.inputs {
  padding: 0.31rem;
  height: 2.19rem;
  max-width: 11.5rem;
  width: 100%;
}
#email {
  margin-left: 5.75rem;
}
#firstname,
#lastname {
  margin-left: 3.8125rem;
}
#pwd {
  margin-left: 4.375rem;
}
#checkpwd {
  margin-left: 0.625rem;
}
.btn {
  margin: 1.25rem auto 0.3125rem;
  max-width: 100px;
  width: 100%;
}
#btn {
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 1px solid;
  box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.397);
}
#btn:hover {
  border: 1px solid green;
}

@media screen and (max-width: 320px) {
  .inputs {
    position: absolute;
    left: 0.625rem;
    top: 1.4rem;
  }
  .label {
    margin-left: 10px;
  }
  .label + .label {
    margin-top: 40px;
  }
  #email,
  #pwd,
  #firstname,
  #lastname,
  #checkpwd {
    margin-left: 0;
  }
  .btn {
    margin-top: 3.75rem;
  }
}
